.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.rangeSliderSvg {
  position: relative;
  bottom: 0;
}

.rangeBar {
  stroke: grey;
  stroke-width: 3px;
  stroke-linecap: round;
}

.rangeBarFilled {
  stroke: #fa7070;
  stroke-width: 3px;
}